/*
!/ACE
/ACE/*
!/ACE/Makefile
!/ACE/*.c
!/ACE/*.cpp
!/ACE/*.h
!/ACE/*.hpp
!/GCD
/GCD/*
!/GCD/Makefile
!/GCD/*.c
!/GCD/*.h
!/custom
/custom/*
!/custom/Makefile
!/custom/*.c
!/custom/*.h
!/custom/*.cpp
!/custom/*.hpp
!.gitignore
